body{
		background-color:rgb(165, 188, 171);
}
h1{
  text-align: center;
  color: rgb(154, 63, 245);
}
.dad {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 40px;
}
#image {
    width: 400px;
    height: 320px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid rgb(217, 83, 21);
    background-color: #eab39d;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    color: #fa02f2;
    font-size: 150%;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 15px;
}

.preview {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 1px solid rgb(209, 157, 145);
    border-radius: 10px;
}
